*{
  background-color: rgb(255, 255, 255);
}

h2{
  font-size: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  font-size: 5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.battlefield{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.battle-box{

}

.images{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  size: 3em;
  }

.message-result{
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message{
  font-size: 3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}

.rock {
  border-radius: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.paper{
  border-radius: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.scissors{
  border-radius: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

