*{
  background-color: rgb(255, 255, 255);
}

h2{
  font-size: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 80px;
  margin-top: -20px;
}

h1{
  font-size: 5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
}

body{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.battlefield{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.images{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  size: 3em;
  height: 3em;
  }

.message-result{
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: -20px;
  display: block;
}

.message{
  font-size: 3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  margin: 50px;
  object-fit: cover;
}

.rock {
  border-radius: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  object-fit: cover;
  height: 12em;
  width: 12em;
  margin-top: 50px;
}

.paper{
  border-radius: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  object-fit: cover;
  height: 12em;
  width: 12em;
  margin-top: 50px;
}

.scissors{
  border-radius: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 12em;
  width: 12em;
  margin-top: 50px;
}

img.img-battle{
  border-radius: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  object-fit: cover;
  height: 13em;
  width: 13em;
}

.points{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  gap: 300px;
}

.message-result-point, .message-result-point-pc{
  font-size: 2em;
  gap: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}

@media screen and(min-width: 1024px){

}